<div
  class="container-fluid containe mt-3"
  style="width: 300px; padding-bottom: 10px"
>
  <h1 class="header">Rent A Car</h1>
  <button class="btn btn-primary float">help</button>
  <form [formGroup]="form" (ngSubmit)="myForm()">
    <select
      class="form-select mb-3"
      aria-label="Default select example"
      (change)="listOptions($event)"
      formControlName="category"
    >
      <option value="">Select your Category Car</option>
      <option *ngFor="let item of categories" [value]="item.category">
        {{ item.category }}
      </option>
    </select>
    <select
      class="form-select"
      aria-label="Default select example"
      formControlName="car"
    >
      <option selected value="">Select you Car</option>
      <option
        *ngFor="let item of colors"
        id="{{ item.id }}"
        [value]="item.color"
      >
        {{ item.color }}
      </option>
    </select>
    <div class="mb-3 pickCont">
      <label for="name" class="form-label pickLablel">Pick UP</label>
      <input
        type="date"
        class="form-control pickInput"
        [min]="todayDate1"
        formControlName="pick"
      />
    </div>
    <div class="mb-3 dropCont">
      <label for="name" class="form-label dropLablel">Drop off</label>
      <input
        type="date"
        class="form-control dropInput"
        [min]="todayDate1"
        formControlName="drop"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        placeholder="Your Name"
        formControlName="name"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        placeholder="Email Address"
        formControlName="email"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <input
        type="number"
        placeholder="Phone Number"
        [min]="0"
        formControlName="phone"
        class="form-control"
      />
    </div>
    <button
      type="submit"
      class="btn btn-warning buton"
      [disabled]="!form.valid"
    >
      Confirm Car Booking
    </button>
  </form>
  <br />
  <br />
  <br />

  <div class="{{ cate12 }} mb-3">
    <div class="card-header">{{ bill }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ nameee }}</h5>
      <h5 class="card-title">{{ phoneee }}</h5>
      <h5 class="card-title">{{ emailll }}</h5>
      <h5 class="card-title">{{ cate1 }}</h5>
      <h5 class="card-title">{{ type }}</h5>
      <h5 class="card-title">{{ pickupp }}</h5>
      <h5 class="card-title">{{ dropofff }}</h5>
    </div>
  </div>
</div>
